{% if site.goatcounter %}
<!-- PRIVACY FRIENDLY ANALYTICS www.goatcounter.com -->

<head>
    <script data-goatcounter="https://{{ site.goatcounter }}.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
{% elsif site.googleanalytics %}
<!-- CONSENT BASED GOOGLE ANALYTICS
	https://alex-d.github.io/Cookies-EU-banner/
-->

<head>
    <script type="text/javascript">
    function addBanner() {
        // Avoid adding multiple times
        if (document.querySelector('script[src*="www.googletagmanager.com/gtag/js?id="]')) return
        if (document.querySelector('#cookies-eu-banner')) return

        // Append cookie banner to DOM
        let cookieBanner = document.createElement('div');
        cookieBanner.id = 'cookies-eu-banner'
        cookieBanner.style.display = 'none'
        cookieBanner.innerHTML = `
		    Para mejorar tu experiencia en nuestro sitio web utilizamos cookies de Google Analytics. ¿Aceptas el uso de estas cookies?
		    <a href="{{ 'legal/politica-cookies.html' | absolute_url }}" id="cookies-eu-more">Leer más</a>
		    <button id="cookies-eu-reject">Rechazar</button>
		    <button id="cookies-eu-accept">Aceptar</button>`
        document.body.appendChild(cookieBanner);

        // Load google Analytics
        new CookiesEuBanner(function() {

            // Load script
            let script = document.createElement('script');
            script.src = "https://www.googletagmanager.com/gtag/js?id={{ site.googleanalytics }}";
            document.head.appendChild(script);

            // Set up
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '{{ site.analytics.google }}');

        }, true);
    }
    window.addEventListener("load", () => { addBanner() })
    </script>
    <script defer src="https://cdn.jsdelivr.net/gh/Alex-D/Cookies-EU-banner@master/src/cookies-eu-banner.js" onload="addBanner()"></script>
</head>
{% endif %}