    /* On all screens */
    html {
    scroll-behavior: smooth;
    }
    /* Works on Firefox */
    * {
    scrollbar-width: thin;
    scrollbar-height: thin;
    scrollbar-color: #999 rgba(0, 0, 0, 0);
    }
    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    }
    *::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
    }    

  /*.wrapper:before, .wrapper:after {
      content: none !important;
  }
  
      .clipped .alt {
      clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
      z-index: 100;
    }

    .clipped {
      clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);
      z-index: 100;
    }

    .wrapper {
      padding: 5% 0;
      margin: -5% 0;
    }
*/

    .lg-video-cont {
      margin-bottom: 80px;
    }

    .slides {
      display: none;
      width: 100%;
    }

    .navigation {
      /*position: absolute;*/
      bottom: 20px;
      width: 100%;
      text-align: center; /* buttons align like text */
    }

    .pip {
      display: inline-block;
      width: 10px;
      height: 10px;
      padding: 0;
      margin: 5px;
      border: 0;
      border-radius: 9999px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.5) !important;
    }

    .pip--active {
      background: rgba(255, 255, 255, 1) !important;
    }

    .gallery {
      justify-content: space-evenly;
      white-space: nowrap;
      width: 100%;
      overflow: auto;
    }

    .hidden:not(.active) {
      display: none !important;
    }

    .gallery a {
      display: inline;
    }

    .gallery img {
      /*object-fit: cover;*/
      /*width: 100%;*/
      width: auto;
      position: relative;
      padding: 2px;
    }

    .gallery img:hover {
      /*transform: scale(1.05);*/
      opacity: 0.8;
    }

    .video-gallery img {
      height: 25vw;
    }
    .books-gallery img {
      height: 45vw;
    }

    .image-gallery img {
      height: 25vw;
    }

    #two {
      background-color: #2e3141;
      background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url(../../images/bg.jpg);
      background-size: auto, cover;
      background-position: center, center;
    }

            .parallax:before, .parallax:after {
          content: none;
        }

    h1 {
      font-size: x-large;
    }

      /*.video-gallery img::after {
        content: url('./assets/img/play.svg');
        opacity: 0.5;
        position: absolute;
        left: 42%;
        top: 27%;
        width: 16%;
      }*/

      .enlaces a {
        border-top: 1px solid #cec6ba;
        padding: 3px;
        display: block;
        font-size: 0.9em;
      }

      .enlaces a:nth-child(1) {
        border-top: none;
      }

      /* On medium-large sized screens */
      @media screen and (min-width: 480px) {
        .video-gallery img {
          height: 18vw;
        }
        .books-gallery img {
          height: 32vw;
        }
        .image-gallery img {
          height: 18vw;
        }
        /* Create the parallax scrolling effect */
        .parallax {
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

         /*   .clipped .alt {
      clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
      z-index: 100;
    }

    .clipped {
      clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%);
      z-index: 100;
    }

    .wrapper {
      padding: 10% 0;
      margin: -10% 0;
    }

        .inner {
      padding-top: 5% !important;
      padding-bottom: 5% !important;
      margin-top: -5% !important;
      margin-bottom: -5% !important;
    }*/
      }

      /* On large screens */
      @media screen and (min-width: 980px) {
        .video-gallery img {
          height: 12vw;
        }
        .books-gallery img {
          height: 20vw;
        }
        .image-gallery img {
          height: 12vw;
        }
      }


      /* YOUTUBE VIDEO */


iframe .fullsize {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
